{% extends 'base/auth_base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <main class="auth">
            <hr>
                <form action="/accounts/login/" class="auth-form" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <!-- .form-group -->
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                    </div>
                    <small>Create an account <a style="color:blue" href="/accounts/register">Sign Up</a></small>
                    <div class="row">
                        <div class="col-md-6">
                            <a style="font-size:15px;" href="#" >Forgot Username?</a>
                        </div>
                        <div class="col-md-6">
                            <a style="font-size:15px;" href="#" >Forgot Password?</a>
                        </div>
                    </div>
                    <!-- <div class="text-center pt-3">
                        
                        <span class="mx-2">·</span>
                        
                    </div> -->
                    
                </form>
            <hr>
                <footer style="font-size:15px;" class="auth-footer"> © 2018 All Rights Reserved. <br>
                    <a href="#">Privacy</a> and
                    <a href="#">Terms</a>
                </footer>
            </main>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}