{% extends 'base/auth_base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <main class="auth">
                <header style="background:black; padding:6%;" class="lead"">
                    <h1 class="lead" >
                        <span  class="sr-only">Sign In</span>
                    </h1>
                    <p> Don't have a account?
                        <a class="" href="/sign/"> Sign Up </a>
                    </p>
                </header>
                <!-- form -->
                <form action="/accounts/login/" class="auth-form" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <!-- .form-group -->
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                    </div>
                    <!-- /.form-group -->
            
                    <!-- recovery links -->
                    <div class="text-center pt-3">
                        <a href="#" class="link">Forgot Username?</a>
                        <span class="mx-2">·</span>
                        <a href="#" class="link">Forgot Password?</a>
                    </div>
                    <!-- /recovery links -->
                </form>
                <!-- /.auth-form -->
            
                <!-- copyright -->
                <footer class="auth-footer"> © 2018 All Rights Reserved.
                    <a href="#">Privacy</a> and
                    <a href="#">Terms</a>
                </footer>
            </main>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}