{% extends 'base/auth_base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <!-- .auth -->
            <main class="auth">
                <hr>
                            <form method="post" action="/accounts/register/" class="auth-form">
                                {% csrf_token %}
                                {% bootstrap_form form %}
            
                                <!-- .form-group -->
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="6LeZDXgUAAAAAMbOfp6YUiNxe85-10evix1XEBas"></div>
                                <div class="">
                                    <button class="btn btn btn-info btn-inline" type="submit">Sign Up</button>
                                </div>
                                
                                <small style="color:rgb(13, 14, 15);">Already have an account? <a style="color:rgb(2, 27, 255);" href="/accounts/login/">Log in</a></small> <br>
                                <hr>
                              
                                <small style="color:rgb(216, 229, 240); font-size:10px;" class="text-center text-muted mb-0"> By creating an account you agree to the
                                    <a href="#">Terms of Use</a> and
                                    <a href="#">Privacy Policy</a>. <br>
                                    © 2018 All Rights Reserved. </small>

                                <!-- /recovery links -->
                            </form>
                    </div>
                </div>
            </main>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}