<nav style="color:black; padding: 0px;" class="navbar navbar-expand-lg sticky-top navbar-dark bg-info">
    <a class="navbar-brand" href="/"><img src="/static/images/download(1).png" alt="" width="150px" height="80px"> </a>
    

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        </ul>
        <!-- <form >
            <input type="search" placeholder="Search">
          </form> -->
        <form class="form-inline my-2 my-lg-0 navbar-nav mr-auto">
            <input type="search" placeholder="Search">
        </form>
        
    </div>
    {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cart/"> <i class="fa fa-shopping-cart"></i> cart </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/member/{{request.user.username}}"> <i class="fa fa-user"></i> {{request.user.username}} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout"> <i class="fa fa-wheelchair"></i> logout ! </a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login"> <i class="fa fa-blind"></i> Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sign"> <i class="fa fa-blind"></i> Join </a>
            </li>
        </ul>
        {% endif %}
</nav>