{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <div class="row">

        <!-- .unused div -->
        <div class="col-md-3"></div>
        <!-- ./unused div -->

        <!-- .show the receipt -->
        <div class="col-md-6">
            <button type="button" class="btn btn-primary btn-lg btn-block"> sudopay  </button>
            {% if checkout %}
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> Transaction {{ checkout.transactionId }} </strong> successful !
                    status : <strong> {{ checkout.description }} </strong>

                </div>
            {% endif %}

            {% if message %}
                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong> SUDOPAY </strong> {{ receipt }}
                </div>
            {% endif %}
            <hr>
            {% if receipt %}
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        YOUR CART
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        1. {{ product.name }} <br>
                        <hr>
                        {{product.description}}
                    </a>
                    <a href="#" class="list-group-item list-group-item-action active">
                        TOTAL : <strong> {{ amount }} : {{product.price}} </strong>
                    </a>
            </div>
            {% endif %}
    
        </div>
        <!-- ./end of show the receipt -->

        <!-- .unused div -->
        <div class="col-md-3"></div>
        <!-- ./unused div -->
    </div>
</div>
{% endblock %}