{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit Card Validation Demo</title>

    {% block styles %}
        {% bootstrap_css %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lux/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
        <link rel="stylesheet" type="text/css" href="assets/css/demo.css">
    {% endblock %}
</head>

<body>
    {% block content %}

    {% endblock %}

    {% block scripts %}
        {% bootstrap_javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.payform.min.js" charset="utf-8"></script>
        <script src="assets/js/script.js"></script>
    {% endblock %}
</body>

</html>