{% extends 'base/base.html' %}
{% load bootstrap4 %}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-md-3">
            <div class="card mb-3">
                <h3 class="card-header">{{product.name|upper}}</h3>
                <img style="height:auto; width: 100%; display: block;" src="{{ product.picture.url }}" alt="Card image">
                <div class="card-body">
                    <p class="card-text">
                        {{product.description}}
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item ">
                        <a class="list-group-item list-group-item-action active" href="/sudopay/checkout/{{ product.id }}"> checkout </a>
                        <br>
                        <form action="/add/{{product.id}}/" method="post" enctype="multipart/form-data"> 

                            {%csrf_token%}
                        
                            {% bootstrap_form Cartform %}
                            <input type="submit" class="btn btn-outline-success" value="Add comment">
                        </form>
                
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>

    <!-- <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div> -->


</div>
</div>



{% endblock %}