{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load static%}
{% block content %}
{{block.super}}
<br>
<div class="container-fluid">
    
<div class="row">
  <div class="col-md-3">
    <div class="nav-side-menu">
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="brand">SUDOPAY</div>

            <div class="menu-list">
      
                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                      <a href="/">
                      <i class="fas fa-tachometer-alt fa-lg"></i> Dashboard
                      </a>
                    </li>
   
                    <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                      <a href="#"><i class="fab fa-studiovinari fa-lg"></i> Items In Cart <span class="badge badge-light">{{prices|length}}</span> <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="products">
                      {% for item in items %}
                        <li class="active"><a href="#">{{item.item.name}}</a></li>
                      {% endfor %}
                       
                        
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                      <a href="#"><i class="fab fa-fort-awesome-alt fa-lg"></i> Services <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" id="service">
                      <li>New Service 1</li>
                      <li>New Service 2</li>
                      <li>New Service 3</li>
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                      <a href="#"><i class="fab fa-pagelines fa-lg"></i> New <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                      <li>New New 1</li>
                      <li>New New 2</li>
                      <li>New New 3</li>
                    </ul>
    
    
                     <li>
                      <a href="/member/{{request.user.username}}/">
                      <i class="fas fa-user-tie fa-lg"></i>My Profile
                      </a>
                      </li>
                </ul>
         </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
        
        <!-- <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
              <div class="product-image2">
                  <a href="#">
                      <img class="pic-1" src="http://plantidias.pt/media/catalog/product/cache/2/thumbnail/550x450/9df78eab33525d08d6e5fb8d27136e95/i/s/istock_000012688399_full_copy.jpg">
                      <img class="pic-2" src="https://i.pinimg.com/originals/08/06/85/0806853b42cc9dda8b065148d0db4555.jpg">
                  </a>
                  <ul class="social">
                      
                      <li><a href="#" data-tip="Add to favourites"><i class="fa fa-heart-o"></i></a></li>
                      
                  </ul>
                  <a class="add-to-cart" href="">Strawberry</a>
                </div>
                <div class="product-content">
                    <span class="price">$ 2</span> 
                </div>
            </div>
        </div> -->
        
        <!-- <div class="col-md-4 col-sm-6">
            <div class="product-grid2">
                <div class="product-image2">
                    <a href="#">
                        <img class="pic-1" src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs2/115979488/original/a78c0eee3a93f1774c65fa4e4c9f08d8d7ece785/do-not-be-busy-just-be-productive.png">
                        <img class="pic-2" src="https://freshlifeorganics.com/images/fruits/Braeburn-Apples.png">
                    </a>
                    <ul class="social">
                        
                        <li><a href="#" data-tip="Add to favourites"><i class="fa fa-heart-o"></i></a></li>
                        
                    </ul>
                    <a class="add-to-cart" href="">Apples</a>
                </div>
                <div class="product-content">
                    
                    <span class="price">KES 35</span>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <!-- <th>Product</th> -->
                        <th class="text-center">Price</th>
                        <!-- <th class="text-center">Total</th> -->
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% if items %}
                    {% for item in items %}
                            <tr>
                            {% if item.user == request.user %}
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="{{item.item.picture.url}}" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a class="text-success" href="#">{{item.item.name}}</a></h4>
                                <!-- <h6 class="media-heading"> by <a href="#">Tuskeys</a></h6> -->
                            </div>
                        </div></td>
            
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{item.item.price}}.00</strong></td>
                        <!-- <td class="col-sm-1 col-md-1 text-center"><strong>$14.61</strong></td> -->
                        <td class="col-sm-1 col-md-1">
                        </td>
                        <td>
                                <a href="/remove/{{item.id}}"><button class="remove-product">
                                        Remove</a>
                        </td>
                        {% endif %}
                    </tr>
                        {% endfor %}
                        {% endif %}
                       
                                  
                    
                    
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>Grand Total</td>         
                        <td> <div class="totals">
  
                                <div class="totals-item totals-item-total">
                                  <label>Grand Total</label>
                                  <div class="totals-value" id="cart-total">{{total}}.00</div>
                                </div>
                              </div></td>
                    </tr>
                    <tr>
                            <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td> 
                                            <a href="/empty">
                                                <button class="btn btn-coutline-primary">Empty Cart</button>
                                              </a>
                        <td>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button"  class="btn btn-success"><a href="sudopay/checkout/{{total}}">Checkout</a><span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
  </div>
</div>


<!-- <div class="shopping-cart">

    <h1>Shopping Cart</h1>

    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Remove</label>
      
      <label class="product-line-price">Total</label>
    </div>
    {% if items %}
{% for item in items %}
{% if item.user == request.user %}


  <div class="product">
    <div class="product-image">
      <img src="{{item.item.picture.url}}">
    </div>
    <div class="product-details">
      <div class="product-title">{{item.item.name}}</div>
      <p class="product-description">{{item.item.description}}</p>
    </div>
    <div class="product-price">{{item.item.price}}.00</div>
    
    <div class="product-removal">
      <a href="/remove/{{item.id}}"><button class="remove-product">
       Remove</a>
       <a href="#"></a>
      </button>
    </div>
    <div class="product-line-price">{{item.item.price}}.00</div>
  </div>
  {% endif %}
  {% endfor %}
  
  <div class="totals">
  
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">{{total}}.00</div>
    </div>
  </div>
      
      <button class="checkout">Checkout</button>
<a href="/empty">
      <button class="btn btn-coutline-primary">Empty Cart</button>
    </a>
</div>
{% else %}
<h1>Cart is Empty</h1>
{% endif %} -->

    {% endblock %}


